# Lab notebook - week 2

### * A note about cell output - expressions vs. statements

In [2]:
# Some code fragments produce output, see the red "Out[?]" below - such fragments are called expressions.
5 + 2

7

In [3]:
# Other fragments produce no output. Such fragments are called statements. Not that there is no "Out[]" below this cell.
x = 5 + 2

In [4]:
# If you want to see the value of x, just write x on another line, "x" is an "expression" and produces the value of x as output
y = 3 + 7
y

10

In [5]:
# A cell only produces one output - that of the last expression in the cell
x  # value of x is not shown
y

10

In [6]:
# If you want to see several values, output them from different cells or use print()
# note that print() produces text, but it is not labeled as Out[] (why?)
print(x)
print(y)

7
10

## NumPy basics
Python lists are somewhat weird creatures. In contrast to basic array types in other languages like C# and Java, they can hold objects of different types and new elements can be inserted in the middle. NumPy arrays are much more like C# arrays - all elements have the same type.

In [7]:
# by convention numpy is always imported as np
import numpy as np

### Common ways of creating numpy arrays

In [8]:
a = np.array([5, 2, 17])  # Convert a Python list into a numpy array
a

array([ 5,  2, 17])

In [9]:
# List of lists gets converted into a 2D array
np.array([[5, 7, 2],
          [9, 4, 1]])

array([[5, 7, 2],
       [9, 4, 1]])

In [10]:
np.arange(5)  # Same as Python's range() but creates a numpy array

array([0, 1, 2, 3, 4])

In [11]:
np.zeros(5)  # Create a numpy array with five elements, all set to zero

array([ 0.,  0.,  0.,  0.,  0.])

In [12]:
c = np.ones(7)  # Create a numpy array with five elements, all set to 1
c

array([ 1.,  1.,  1.,  1.,  1.,  1.,  1.])

In [13]:
# Array of 6 random numbers between 0 and 1
np.random.rand(6)

array([ 0.12320762,  0.78749285,  0.22774035,  0.90992615,  0.03470426,
        0.59999713])

In [14]:
# array with 6 random integers between 0 and 100 (not including 100 as usual)
np.random.randint(100, size=6)

array([27, 37, 67, 18, 52, 51])

### Array properties

In [15]:
b = np.array([[5, 7, 2],
              [9, 4, 1]])
b

array([[5, 7, 2],
       [9, 4, 1]])

In [16]:
# The total number of elements
b.size

6

In [17]:
# number of dimensions
b.ndim

2

In [18]:
# array shape is a Python tuple, in this case it's (2, 3) because b is a 2 by 3 array.
b.shape

(2, 3)

In [19]:
# Data type of the array
a.dtype

dtype('int32')

In [20]:
# Note that zeros byt default uses the float64 data type
z = np.zeros(7)
z.dtype

dtype('float64')

In [21]:
# But data type can be set explicitly, almost all numpy functions that create arrays take an optional dtype parameter
# Let's set it to an 8 bit integer
z = np.zeros(7, dtype=np.int8)  
z.dtype

dtype('int8')

## Exercises

Read section 2.2 of the book (The Basics of NumPy Arrays) and complete the tasks below.

#### Convert a list into a numpy array

In [22]:
lst = [5, 3, 8, 4]
lst

[5, 3, 8, 4]

In [23]:
# your code here
x = np.array(lst)
x

array([5, 3, 8, 4])

#### What happens when you multiply a list by 3, what a about an array multiplied by 3?

In [24]:
# Feel free to add more cells
x *= 3

lst *= 3

print('x: ' + str(x))
print('lst: ' + str(lst))

x: [15  9 24 12]
lst: [5, 3, 8, 4, 5, 3, 8, 4, 5, 3, 8, 4]

#### Create an array of 10 ones

In [25]:
ones = np.ones(10)
ones

array([ 1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.])

#### Create an array of 10 fives

In [26]:
fives = np.array([5 for x in range(10)])
fives

array([5, 5, 5, 5, 5, 5, 5, 5, 5, 5])

#### Create an array of the integers from 10 to 50 (including 50)

In [27]:
tenToFifty = np.array([x for x in range(10,51)])
tenToFifty

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50])

#### Create an array of 10 random numbers between 0 and 5 (not integers)

In [28]:
floatArray = np.random.uniform(5,size=10)
floatArray

array([ 2.02906853,  2.26883126,  1.57057505,  4.1177492 ,  2.60812327,
        1.73408803,  1.14446016,  4.65343593,  1.59717464,  2.34139244])

#### Read the help for np.linspace function and create an array of 11 evenly spaced elements between 0 and 2

In [29]:
arrLinspace = np.linspace(0,2,num=11)
arrLinspace

array([ 0. ,  0.2,  0.4,  0.6,  0.8,  1. ,  1.2,  1.4,  1.6,  1.8,  2. ])

#### Create a 3 by 4 array of ones

In [30]:
threeByFourOnes = np.ones(3*4).reshape(3,4)
threeByFourOnes

array([[ 1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.]])

#### Create a 3 by 4 array of fives

In [31]:
threeByFourFives = np.array([5 for x in range(3*4)]).reshape(3,4)
threeByFourFives

array([[5, 5, 5, 5],
       [5, 5, 5, 5],
       [5, 5, 5, 5]])

#### Create a 3x3 matrix with values ranging from 0 to 8 (use reshape)

In [32]:
threeBy3Matrix = np.arange(9).reshape(3,3)
threeBy3Matrix

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

## Element selection
Using the following arrays `a` and `m`

In [33]:
a = np.arange(10,21)
a

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [34]:
m = np.arange(1,22).reshape((3,7))
m

array([[ 1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19, 20, 21]])

### Create an array containing... 
#### the first 4 elements of a

In [35]:
first4ofA = a[:4]
first4ofA

array([10, 11, 12, 13])

#### the last 3 elements of a

In [36]:
last3OfA = a[-3:]
last3OfA

array([18, 19, 20])

#### The middle elements of a from 15 to 18 inclusive

In [37]:
middleOfA = a[5:9]
middleOfA

array([15, 16, 17, 18])

#### The first column of m

In [38]:
firstColOfM = m[:,0]
firstColOfM

array([ 1,  8, 15])

#### The middle row of m

In [39]:
middleRowM = m[1]
middleRowM

array([ 8,  9, 10, 11, 12, 13, 14])

#### The left 3 columns of m

In [40]:
left3ColOfM = m[:,-2]
left3ColOfM

array([ 6, 13, 20])

#### The bottom-right 2 by 2 square

In [41]:
btmRight2Sq = m[-2:,-2:]
btmRight2Sq

array([[13, 14],
       [20, 21]])

#### (bonus) every other element of a

In [42]:
everyOtherElement = a[::2]
everyOtherElement

array([10, 12, 14, 16, 18, 20])

#### Subtract 5 from each element of a

In [43]:
fiveSubtracted = a - 5
fiveSubtracted

array([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

#### Create an array containing squares of all numbers from 1 to 10 (inclusive)

In [44]:
sqOfNumbers = np.arange(10) ** 2
sqOfNumbers

array([ 0,  1,  4,  9, 16, 25, 36, 49, 64, 81])

#### Create an array containing all powers of 2 from $2^0$ to $2^{10}$ (inclusive)

In [46]:
powersOf2 = np.array([2**x for x in range(11)])
powersOf2

array([   1,    2,    4,    8,   16,   32,   64,  128,  256,  512, 1024])

#### Same as above (powers of two), but subtract one from each element, that is $a_k = 2^k - 1$

In [47]:
powersOf2Minus1 = np.subtract(powersOf2,1)
powersOf2Minus1

array([   0,    1,    3,    7,   15,   31,   63,  127,  255,  511, 1023])

### Bonus task
Write code that lists all available dtypes with specified number of bits

In [48]:
# Hint
np.int8

numpy.int8

In [54]:
availableDTypes = np.array([5,545848452,3.56,-54968412,True], dtype=np.int8) 
availableDTypes

array([   5, -124,    3,  -92,    1], dtype=int8)